button {
  border: none;
  border-radius: 999px;
  transition: 0.4s;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-align: center;
}
.primary {
  background: #0070cc;
  color: white;
}
.primary:hover {
  background: rgb(3, 67, 119);
}

.secondary {
  background: #ffffff;
  color: #0070cc;
}
.secondary:hover {
  background: rgb(177, 178, 179);
}
