button {
  border: none;
  border-radius: 999px;
  transition: 0.4s;
}
.primary {
  background: #0070cc;
  color: white;
}
.primary:hover {
  background: rgb(3, 67, 119);
}

.secondary {
  background: #ffffff;
  color: #0070cc;
}
.secondary:hover {
  background: rgb(177, 178, 179);
}
