.more-about {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 80px;
  z-index: -1;
}

h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 32px;
  /* or 130% */

  display: flex;
  align-items: center;
  letter-spacing: 0.1px;

  color: #363636;
  z-index: -1;
}
