.section {
  margin-top: 100px;
  width: 100vw;
  position: relative;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12);
}

.banner {
  top: 40px;
  width: 100vw;
  height: 350px;
  object-fit: cover;
  z-index: -1;
}
.about {
  display: flex;
  justify-content: space-between;
  margin: 30px 80px;
}

.section p {
  font-family: "Inter";
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;

  /* identical to box height, or 162% */

  display: flex;
  align-items: center;

  color: #6b6b6b;
  padding: 0px 80px;
  padding-bottom: 30px;
}
