.logo-sony {
  width: 100vw;
  height: 36px;
  background: #000000;
  color: white;
  display: flex;
  justify-content: end;
  text-align: center;
}
.logo-sony h2 {
  padding: 0px 10px;
  margin: 0px;
  line-height: 36px;
  text-align: center;
}
