<section class="section">
    <div class="banner"></div>
    <div class="header">
        <img class="plus" src="../../../assets/images/plus_2.png" alt="">
        <img class="person"
            src="https://image.api.playstation.com/pr/bam-art/155/054/e0cfd8bb-646b-43e8-bd78-f844bc48e8be.png?w=620&thumb=false"
            alt="">
    </div>

    <app-more-about-section title="Descobre o PlayStation Plus" buttonText="Saiba Mais"></app-more-about-section>
    <p>Aproveite centenas de jogos de PS5, PS4 e clássicos, modo multijogador online e mais benefícios imperdíveis.</p>
</section>